.article {
	width: 100%;
	margin: 2rem;
}


.top {
	background-color: #4e759d;
	border-width: 0.5rem 2rem 0 2rem;
	border-style: solid;
	border-color: #4e759d;
	border-radius: 2rem 2rem 0 0;
	box-shadow: 0.25rem 0.25rem 1rem 0.25rem #4e4e4e;
}

.bottom {
	width: 100%;
	min-height: 24px;
	padding: 1rem;
	background-color: #f8f9fa;
	border: 0 2rem 2rem 2rem solid #f8f9fa;
	border-width: 0 2rem 0.5rem 2rem;
	border-style: solid;
	border-color: #f8f9fa;
	border-radius: 0 0 2rem 2rem;
	box-shadow: 0.25rem 0.25rem 1rem 0.25rem #4e4e4e;
}

.bot-link {
	padding: 2px 2px;
	color: grey;
	text-decoration: none;
	color: #979a9a;
}

.bot-link:hover {
	text-decoration: none;
	color: #c7cecd;
}

.bot-link:focus {
	text-decoration: none;
}

.btn-save, .btn-details, .btn-delete {
	box-shadow: 0.25rem 0.25rem 1rem 1px #151515;
	margin: 2px;
	color: #fff;
}
 
.btn-save:focus, .btn-details:focus, .btn-delete:focus {
	box-shadow: 0.25rem 0.25rem 1rem 1px #151515;
}

.btn-save:active, .btn-details:active, .btn-delete:active {
	box-shadow: none;
}

.btn-save {
	background-color: #40ce60;
}

.btn-save:hover {
	background-color: #35b853;
}

.btn-details {
	background-color: #d02ad0;
}

.btn-details:hover {
	background-color: #b422b4;
}

.btn-delete {
	background-color: #f12424;
}

.btn-delete:hover {
	background-color: #d11f1f;
}